@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --background-rgb: black;
}

/* body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
} */
